// main: main.scss
/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/

/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - Defaulting to Dark Mode */
:root { 
  --background-color: #060606; 
  --default-color: #ffffff; 
  --heading-color: #ffffff; 
  --accent-color: #34b7a7; 
  --surface-color: #252525; 
  --contrast-color: #ffffff; 
}

/* Nav Menu Colors */
:root {
  --nav-color: #ffffff;
  --nav-hover-color: #34b7a7;
  --nav-mobile-background-color: #060606;
  --nav-dropdown-background-color: #252525;
  --nav-dropdown-color: #ffffff;
  --nav-dropdown-hover-color: #34b7a7;
}

/* Color Presets */
.light-background {
  --background-color: #060606;
  --surface-color: #252525;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}
