// main: main.scss
/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/

/* Fonts */
:root {
  --default-font: "Fira Code", monospace;
  --heading-font: "Fira Code", monospace;
  --nav-font: "Fira Code", monospace;
}

/* Global Colors - Defaulting to Dark Mode */
:root { 
  --background-color: #060606; 
  --default-color: #b0b0b0; 
  --heading-color: #e0e0e0; 
  --accent-color: #34b7a7; 
  --surface-color: #252525; 
  --contrast-color: #ffffff; 
}

/* Nav Menu Colors */
:root {
  --nav-color: #e0e0e0;
  --nav-hover-color: #34b7a7;
  --nav-mobile-background-color: #060606;
  --nav-dropdown-background-color: #252525;
  --nav-dropdown-color: #e0e0e0;
  --nav-dropdown-hover-color: #34b7a7;
}

/* Color Presets */
.light-background {
  --background-color: #060606;
  --surface-color: #252525;
}

.dark-background {
  --background-color: #060606;
  --default-color: #b0b0b0;
  --heading-color: #e0e0e0;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}
