<footer id="footer" class="footer light-background">

  <div class="container">
    <div class="copyright text-center">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Mwavu</strong> <span>All Rights Reserved<br></span></p>
    </div>
    <div class="social-links">
      <a href="https://x.com/kennedymwavu"><i class="bi bi-twitter-x"></i></a>
      <a href="https://github.com/kennedymwavu"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/kennedymwavu/"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="mt-4 text-center">
      <p>
        Made with ❤️ using <a href="https://ambiorix.dev/" target="_blank">Ambiorix</a>
      </p>
    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>

<!-- Toast -->
<script src="/assets/js/toast.js"></script>
