<footer id="footer" class="footer light-background">

  <div class="container">
    <div class="copyright text-center ">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Mwavu</strong> <span>All Rights Reserved<br></span></p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <a href="https://x.com/kennedymwavu"><i class="bi bi-twitter-x"></i></a>
      <a href="https://github.com/kennedymwavu"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/kennedymwavu/"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="mt-4 text-center">
      <p>
        Made with ❤️ using <a href="https://ambiorix.dev/" target="_blank">Ambiorix</a>
      </p>
    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<!-- jquery(must be loaded before toastr) -->
<script type="text/javascript" src="/assets/vendor/jquery/jquery-3.7.1.min.js"></script>
<!-- toastr -->
<link rel="stylesheet" href="/assets/vendor/toastr/toastr-2.1.3.min.css">
<script type="text/javascript" src="/assets/vendor/toastr/toastr-2.1.3.min.js"></script>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/toastr_options.js"></script>
