<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta
  name="keywords"
  content="Mwavu, Kennedy, Software Developer, R Programming"
/>
<meta name="robots" content="index, follow" />

<meta property="og:title" content="Kennedy Mwavu - Software Developer" />
<meta
  property="og:description"
  content="From code to canvas, I paint your R vision"
/>
<meta property="og:image" content="https://mwavu.com/assets/img/hero-bg.svg" />
<meta property="og:url" content="https://mwavu.com" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Kennedy Mwavu - Software Developer" />
<meta
  name="twitter:description"
  content="From code to canvas, I paint your R vision"
/>
<meta
  name="twitter:image"
  content="https://www.mwavu.com/assets/img/hero-bg.svg"
/>

<!-- Favicons -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/img/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/img/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/img/favicons/favicon-16x16.png"
/>
<link rel="manifest" href="/assets/img/favicons/site.webmanifest" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link
  href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
  rel="stylesheet"
/>
<link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
<link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />

<!-- Main CSS File -->
<link href="/assets/css/main.css" rel="stylesheet" />

<!-- htmx -->
<script
  type="text/javascript"
  src="/assets/vendor/htmx/htmx-2.0.2.min.js"
></script>
