// main: ../main.scss
/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills {
  .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }

  .progress .skill {
    color: var(--heading-color);
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: var(--heading-font);
  }

  .progress .skill .val {
    float: right;
    font-style: normal;
  }

  .progress-bar-wrap {
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    height: 10px;
  }

  .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: var(--accent-color);
  }
}