// main: ../main.scss
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  .section-header {
    margin-bottom: 40px;
  }

  .testimonials-carousel,
  .testimonials-slider {
    overflow: hidden;
  }

  .testimonial-item {
    text-align: center;

    .testimonial-img {
      width: 120px;
      border-radius: 50%;
      border: 4px solid var(--background-color);
      margin: 0 auto;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    h4 {
      font-size: 14px;
      color: color-mix(in srgb, var(--default-color), transparent 40%);
      margin: 0 0 15px 0;
    }

    .stars {
      margin-bottom: 15px;

      i {
        color: #ffc107;
        margin: 0 1px;
      }
    }

    .quote-icon-left,
    .quote-icon-right {
      color: color-mix(in srgb, var(--accent-color), transparent 50%);
      font-size: 26px;
      line-height: 0;
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top: 10px;
      transform: scale(-1, -1);
    }

    p {
      font-style: italic;
      margin: 0 auto 15px auto;
    }
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-pagination {
    margin-top: 20px;
    position: relative;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      opacity: 1;
      background-color: color-mix(in srgb, var(--default-color), transparent 85%);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--accent-color);
    }
  }

  @media (min-width: 992px) {
    .testimonial-item p {
      width: 80%;
    }
  }
}